<% provide(:title, 'Test') %>
<h1>Test</h1>
<p>
  Get Test on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/Test">Rails Tutorial Test page</a>.
  To get Test on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>